:root {
  --accent-color: #2196f3;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --main-background-color: #fff;
  --secondary-background-color: #2f303a;
  --third-background-color: #f5f4fa;
}

body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.accent {
  color: var(--accent-color);
}

.no-style {
  list-style: none;
}

/*Header*/

.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

/*site-nav*/

.site-nav-list-link {
  color: var(--main-text-color);
  letter-spacing: 0.02em;
  text-decoration: none;
}
.current {
  color: var(--accent-color);
}

.site-nav-list-link:hover,
.site-nav-list-link:focus {
  color: var(--accent-color);
}

/*header-contacts*/
.header-contacts-link {
  color: var(--secondary-text-color);
  letter-spacing: 0.02em;
  text-decoration: none;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--accent-color);
}

.current .site-nav-list-link {
  color: var(--accent-color);
}

/*Стили для index.html*/

/*Герой*/
.hero {
  color: #ffffff;
  background-color: var(--secondary-background-color);
}

.hero-section {
  letter-spacing: 0.06em;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
}

.hero-button {
  color: #ffffff;
  background-color: var(--accent-color);
  letter-spacing: 0.06em;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  align-items: center;
  text-align: center;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/*Особенности*/
.features-text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
}
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/*Наша команда*/
.section-team {
  background-color: var(--third-background-color);
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-position {
  color: var(--secondary-text-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/*Футер*/

.logo-footer {
  color: #ffffff;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.footer {
  background-color: var(--secondary-background-color);
  font-size: 14px;
  line-height: 1.71;
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
}

.footer-contacts-address {
  color: #ffffff;
  text-decoration: none;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  color: var(--accent-color);
}

/*Стили для portfolio.css*/

/*Фильтр*/

.portfolio-filter {
  cursor: pointer;
  color: var(--main-text-color);
  background-color: var(--third-background-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.portfolio-filter:hover,
.portfolio-filter:focus {
  color: #fff;
  background-color: var(--accent-color);
}

/*Примеры работ*/
.example {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.example-type {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
